In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('Instagram_Data.csv')
data.head()

,User uuid,Likes,Days passed from post,Likes Score,Type,Numer of Tags,Numer of Comments,Date Posted,Year,Month,Day,Hour,Minute
0,1,506,657,0.74,Image,3,11,2019-05-12 21:18:39,2019,5,12,21,18
1,1,385,657,0.57,Image,0,1,2019-05-12 14:25:55,2019,5,12,14,25
2,1,373,666,0.55,Images,4,15,2019-05-03 15:18:37,2019,5,3,15,18
3,1,312,667,0.46,Images,4,1,2019-05-02 16:40:38,2019,5,2,16,40
4,1,513,674,0.75,Images,5,0,2019-04-25 16:51:58,2019,4,25,16,51

In [6]:
data['Day'].unique()

array([12,  3,  2, 25, 22, 18, 17, 11, 10,  6,  4, 31, 29, 28, 24, 23, 20,
       15,  5, 27, 21, 16, 14, 13,  9,  7, 30, 26,  8,  1, 19])

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178922 entries, 0 to 178921
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   User uuid              178922 non-null  int64
 1   Likes                  178922 non-null  int64
 2   Days passed from post  178922 non-null  int64
 3   Likes Score            178922 non-null  float64
 4   Type                   178922 non-null  object
 5   Numer of Tags          178922 non-null  int64
 6   Numer of Comments      178922 non-null  int64
 7   Date Posted            178922 non-null  object
 8   Year                   178922 non-null  int64
 9   Month                  178922 non-null  int64
 10  Day                    178922 non-null  int64
 11  Hour                   178922 non-null  int64
 12  Minute                 178922 non-null  int64
dtypes: float64(1), int64(10), object(2)
memory usage: 17.7+ MB

In [8]:
data.columns

Index(['User uuid', 'Likes', 'Days passed from post', 'Likes Score', 'Type',
       'Numer of Tags', 'Numer of Comments', 'Date Posted', 'Year', 'Month',
       'Day', 'Hour', 'Minute'],
      dtype='object')

In [9]:
data['Date Posted'] = pd.to_datetime(data['Date Posted'])

In [10]:
data['Date Posted'].dtype

dtype('<M8[ns]')

In [14]:
#Extract Time Components (if needed for grouping):
# Extract month and quarter for grouping
data['day'] = data['Date Posted'].dt.day
data['month'] = data['Date Posted'].dt.month
data['quarter'] = data['Date Posted'].dt.quarter

In [15]:
data['day'].head()

0    12
1    12
2     3
3     2
4    25
Name: day, dtype: int32

In [13]:
data['month'].head()

0    5
1    5
2    5
3    5
4    4
Name: month, dtype: int32

In [17]:
data['quarter'].head(10)

0    2
1    2
2    2
3    2
4    2
5    2
6    2
7    2
8    2
9    2
Name: quarter, dtype: int32

In [18]:
#daily likes or per day likes for posts
daily_output = data.groupby(data['Day'])['Likes'].sum()
daily_output

Day
1     292017030
2     224942833
3     222066203
4     286359899
5     204450105
6     250536406
7     254590861
8     211243160
9     251395976
10    258902195
11    268566551
12    298188019
13    250816998
14    249226790
15    201161828
16    212403898
17    227536498
18    214050249
19    241693388
20    257697843
21    253770357
22    234392654
23    248555001
24    297250201
25    269242896
26    294628750
27    262118564
28    240444698
29    253573994
30    240785491
31    218900015
Name: Likes, dtype: int64

In [21]:
#Daily Output
date_indexed = data.set_index('Date Posted')
daily_resampled = date_indexed['Likes'].resample('D').sum()
daily_resampled

Date Posted
2010-10-28     52973
2010-10-29         0
2010-10-30         0
2010-10-31         0
2010-11-01         0
               ...
2021-02-23    794303
2021-02-24    490405
2021-02-25    134654
2021-02-26     76064
2021-02-27     28492
Freq: D, Name: Likes, Length: 3776, dtype: int64

In [22]:
#Monthly output
date_indexed = data.set_index('Date Posted')
monthly_resampled = date_indexed['Numer of Comments'].resample('M').sum()
monthly_resampled

/tmp/ipython-input-3565574432.py:3: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_resampled = date_indexed['Numer of Comments'].resample('M').sum()

Date Posted
2010-10-31       6471
2010-11-30          0
2010-12-31          0
2011-01-31          0
2011-02-28          0
               ...
2020-10-31    5680638
2020-11-30    6061217
2020-12-31    9430124
2021-01-31    5987153
2021-02-28    2969100
Freq: ME, Name: Numer of Comments, Length: 125, dtype: int64

In [ ]:
#Quaterly Output
quarterly_output = data.groupby('quarter')['Likes'].sum()
quarterly_output.head()

quarter
1    1967633165
2    1459748603
3    2006452019
4    2257675564
Name: Likes, dtype: int64

In [24]:
# Alternative using resample
quarterly_resampled = date_indexed['Likes'].resample('Q').sum()
quarterly_resampled

/tmp/ipython-input-4231834929.py:2: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  quarterly_resampled = date_indexed['Likes'].resample('Q').sum()

Date Posted
2010-12-31         52973
2011-03-31             0
2011-06-30         49949
2011-09-30             0
2011-12-31            55
2012-03-31           474
2012-06-30         45982
2012-09-30          8749
2012-12-31         76987
2013-03-31         13582
2013-06-30        159664
2013-09-30        101098
2013-12-31        351865
2014-03-31        227724
2014-06-30        271876
2014-09-30        333978
2014-12-31        674227
2015-03-31        770194
2015-06-30       3191810
2015-09-30       3260901
2015-12-31       4106876
2016-03-31       7803906
2016-06-30      12774450
2016-09-30      17857298
2016-12-31      19557055
2017-03-31      31559524
2017-06-30      57049365
2017-09-30      67923878
2017-12-31      61422181
2018-03-31      82755673
2018-06-30     133207407
2018-09-30     202223652
2018-12-31     189127541
2019-03-31     232759371
2019-06-30     424419743
2019-09-30     442215751
2019-12-31     544974192
2020-03-31     966505436
2020-06-30     828578357
2020-09-30    1272526714
2020-12-31    1437331612
2021-03-31     645237281
Freq: QE-DEC, Name: Likes, dtype: int64

In [26]:
# Alternative using resample
yearly_resampled = date_indexed['Likes'].resample('Y').sum()
yearly_resampled

/tmp/ipython-input-2868578115.py:2: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  yearly_resampled = date_indexed['Likes'].resample('Y').sum()

Date Posted
2010-12-31         52973
2011-12-31         50004
2012-12-31        132192
2013-12-31        626209
2014-12-31       1507805
2015-12-31      11329781
2016-12-31      57992709
2017-12-31     217954948
2018-12-31     607314273
2019-12-31    1644369057
2020-12-31    4504942119
2021-12-31     645237281
Freq: YE-DEC, Name: Likes, dtype: int64