In [1]:
#Print sum of 5 numbers
1+1+1+1+1

5

In [3]:
#print difference of 3 numbers
10-3-4

3

In [4]:
#Calculate the average age of three people
age1=25
age2=30
age3=20

avg=age1+age2+age3/3
print(avg)

61.666666666666664

In [5]:
#the number of times 5 comes in 100
100//20

5

In [6]:
#power of 5 to 5
#5*5*5*5*5*5
5**5

3125

In [7]:
#get salary of an employee by multiplying grosspay to 20
gross=50000
Salary=gross*20
print(Salary)

1000000

In [49]:
#Modulo operator (it means it will print reminder of any division)
90%8

2

In [9]:
#datatypes examples
x=20
type(x)

int

In [10]:
x=3.5
type(x)

float

In [11]:
x='true'
type(x)

str

In [12]:
x=True
type(x)

bool

In [53]:
x="This is my class"
type(x)

str

In [13]:
x=('1','2','3','4','5')
type(x)

tuple

In [14]:
x=['1','2','3','4','5']
type(x)

list

In [15]:
x={'name':'Python','type':'class'}
type(x)

dict

In [57]:
x = {"apple", "banana", "cherry"}
type(x)

set

In [16]:
x=3+4j
type(x)

complex

In [18]:
x=range(2,7)
type(x)
print(x)

range(2, 7)

In [60]:
x=True
type(x)

bool

In [21]:
x= b"This is a python class"
type(x)
print(x)

b'This is a python class'

In [20]:
x = bytes([72, 101, 108, 108, 111]) 
type(x)
print(x)

b'Hello'

In [22]:
empty = bytes(5) #Empty bytes
type(empty)
print(empty)

b'\x00\x00\x00\x00\x00'

In [23]:
data_bytes = b"Hello, memoryview!"
#It directly able to access the data byte internal memory without consuming any additional mem and bytearray and helpful for large datasets
mv = memoryview(data_bytes) 
type(mv)

memoryview

In [65]:
print(mv[0]) #prints ascii value of databytes of first element

72

In [24]:
#Indexing and slicing
#string values are stored in form of an array starting from 0th position to n-1 position
str='abcdefghijklmnopqrstuvwxyz'
str[3]

'd'

In [25]:
str[7]

'h'

In [28]:
s=['a','b','c','d','e','f']
print(s[1:3])
print(s[1:4])

['b', 'c']
['b', 'c', 'd']

In [30]:
#Slicing works with the last index value treated as n-1
str[3:5]

'de'

In [31]:
str='abcdefghijklmnopqrstuvwxyz'
str[3:7]

'defg'

In [72]:
#Tuples and its methods
tup=('a','b','c','d','e','f','g','h')
print(tup.index('d'))
print(tup.index('e'))
print(tup.index('f'))

3
4
5

In [80]:
from IPython.display import display #another way of writing print statements

In [33]:
#Tuples and its methods
tup=('a','b','c','d','e','f','g','h')
display(tup.index('d'))
display(tup.index('e'))

3

4

In [78]:
tup=('a','a','a','b','b','c','c','d')
print(tup.count('a'))
print(tup.count('b'))
print(tup.count('c'))

3
2
2

In [79]:
t1=tuple("1233445566") #a simple string can be converted to tuple
t1

('1', '2', '3', '3', '4', '4', '5', '5', '6', '6')

### List Assignments and operations
#### Characteristics of list
##### 1. Lists are ordered
##### 2. Lists are mutable
##### 3. Lists contain duplicate values

In [34]:
type =["python","Java","C","C#","C++"]
print(type)

['python', 'Java', 'C', 'C#', 'C++']

In [35]:
empty=[] #Empty type list
print(empty)

[]

In [36]:
#Accessing elemnents
print(type[2])
print(type[1])
print(type[0])

C
Java
python

In [86]:
type =["python","Java","C","C#","C++","python","python"]
print(type)

['python', 'Java', 'C', 'C#', 'C++', 'python', 'python']

In [37]:
type =["python","Java","C","C#","C++"]
type.append('java')
print(type)

['python', 'Java', 'C', 'C#', 'C++', 'java']

#### Negetive slicing concept

In [49]:
s=['a','b','c','d','e']
s[-3:-2]

['c']

In [48]:
type[-1]

'java'

In [47]:
type[-3]

'C#'

In [53]:
type[-6]

'python'

In [54]:
type[-7:-1]

['python', 'Java', 'C', 'C#', 'C++']

In [96]:
type[0:7]

['python', 'Java', 'C', 'C#', 'C++', 'python', 'python']

In [55]:
type[1:]

['Java', 'C', 'C#', 'C++', 'java']

In [56]:
type[:7]

['python', 'Java', 'C', 'C#', 'C++', 'java']

In [57]:
#add element at specified index
type.insert(3,"perl")
print(type)

['python', 'Java', 'C', 'perl', 'C#', 'C++', 'java']

In [59]:
#extending to another list
list1=['a','b','c','d','e']
list2=['d','e','f','g']
list1.extend(list2)
print("updated list:",list1)

updated list: ['a', 'b', 'c', 'd', 'e', 'd', 'e', 'f', 'g']

In [60]:
#Change list items
list1=['apple','banana','cherry','tomato']
list1[1]='pear'
print(list1)

['apple', 'pear', 'cherry', 'tomato']

In [62]:
#Removing an elemnent from list
list2=['d','e','f','g']
list2.remove('e')
print(list2)

['d', 'f', 'g']

In [63]:
#deleting from list
#Note-----Once you delete some items from list those are not reversible
list1=['apple','banana','cherry','tomato','jackfruit','pear']
del list1[1]
print(list1)

['apple', 'cherry', 'tomato', 'jackfruit', 'pear']

In [106]:
del list1[1:2]
print(list1)

['apple', 'tomato', 'jackfruit', 'pear']

In [64]:
list1.sort()
print(list1)

['apple', 'cherry', 'jackfruit', 'pear', 'tomato']

In [65]:
list1.reverse()
print(list1)

['tomato', 'pear', 'jackfruit', 'cherry', 'apple']

In [67]:
list2=list1.copy()
print(list2)

['tomato', 'pear', 'jackfruit', 'cherry', 'apple']

#### Dictionary and its functionalities
##### Notes: Dictionary keys are immutables, means you can not change or modify keys once defined
##### You can assign a dictionary using dict()

In [68]:
# creating a dictionary
list_names = {
  "name1": "Harry", 
  "name2": "Tom", 
  "name3": "Ricky"
}

# printing the dictionary
print(list_names)

{'name1': 'Harry', 'name2': 'Tom', 'name3': 'Ricky'}

In [69]:
#accessing dictionary
print(list_names["name1"])

Harry

In [71]:
list_names["name4"]="Justin"
print(list_names)

{'name1': 'Harry', 'name2': 'Tom', 'name3': 'Ricky', 'name4': 'Justin'}

In [72]:
del list_names["name4"]

In [73]:
print(list_names)

{'name1': 'Harry', 'name2': 'Tom', 'name3': 'Ricky'}

In [74]:
#change an element inside dictionary
list_names["name1"]="Jack"
print(list_names)

{'name1': 'Jack', 'name2': 'Tom', 'name3': 'Ricky'}

In [75]:
print(list_names.keys())

dict_keys(['name1', 'name2', 'name3'])

In [76]:
print(list_names.values())

dict_values(['Jack', 'Tom', 'Ricky'])

In [77]:
list_names1=list_names.copy()
print(list_names1)

{'name1': 'Jack', 'name2': 'Tom', 'name3': 'Ricky'}

In [79]:
marks = {'Physics':67, 'Maths':87}
internal_marks = {'Practical':48}
marks.update(internal_marks) #updates with another dictionary and basically it is just adding/appending
print(marks)

{'Physics': 67, 'Maths': 87, 'Practical': 48}

#### Operators

In [80]:
1==2

False

In [81]:
2!=3

True

In [82]:
3>5

False

In [83]:
3<5

True

In [85]:
3 is 5

False

In [87]:
3 is not 5

True

In [88]:
print(3>5 and 4<5)

False

In [89]:
print(3>5 or 4<5)

True

In [90]:
if not 5:
    print("Hello")
else:
    print("Hi")

Hi

In [93]:
#Bitwise and
age=23
if(age>20 & age<=25): # it checks whether age>20 (returns True) and age<=25(returns True)====> output for True and True is True
    print(age)

23

In [95]:
age=23
if(age>20 and age<=25): # it checks whether age>20 (returns True) and age<=25(returns True)====> output for True and True is True
    print(age)

23

In [96]:
#Bitwise Or
age=23
if(age>20 | age<25):# it checks whether age>20 (returns True) or age<=25(returns True)====> output for False or True is True
    print(age)
else:
    print("nothing")

nothing

In [97]:
age=23
if(age>20 or age<25):# it checks whether age>20 (returns True) or age<=25(returns True)====> output for False or True is True
    print(age)
else:
    print("nothing")

23

In [99]:
#in and not in works in sequence types
my_list = [1, 2, 3, 4, 5]
my_string = "hello world"
my_dict = {"name": "Alice", "age": 30}

print(1 in my_list)
print(1 not in my_list)
print('d' in my_string)
print('hello' in my_string)
print("name" not in my_dict)
print("name" in my_dict)

True
False
True
True
False
True

In [101]:
x=5
x+=5 # x=x+5
print(x)

x=5
x-=2 #x=x-2
print(x)

x=5
x*=5 #x=x*5
print(x)

x=5
x/=2 #x=x/2
print(x)

x=5
x%=2
print(x)

x=5
x//=2
print(x)

x=5
x**=2
print(x)

10
3
25
2.5
1
2
25

#### &=, |= are working as first assigned data are converting to binary codes and once after converted it assigns back to the left operand and leaves at least 1 and replaces to 0 in case of &=, in case of |= it replaces 0 to 1

In [104]:
x=5   
y=7
x|=y
print(x)

7

In [103]:
x=5
y=2
x&=y
print(x)

0

In [105]:
#Walrus operator
print(x := 3) 
#===> x=3, print(x)
print(x)

3
3